body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.navbar{
    display: flex;
}

.banner-content-text-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: black;
}

.banner-content-text-content {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
}

.container-fluid .kosong{
	height: 34px;
	width: 100px;
	background-color: #0D28A6;
}

.btn-banner {
    background: #5CB85F;
    border-radius: 2px;
    color: white;
}

.padding-top-banner {
    padding-top: 50px;
    background-color: #f1f3ff;
}
/* Our Services Section */
.our-service-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.our-service-list li {
    list-style:none;
}

.our-service-subtitle {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
}
.fa-circle-check {
    height: 24px;
    width: 24px;
    margin-right:24px;
    color: #CFD4ED;
}


.cta-banner-box {
  width: 1168px;
  height: 326px;
  border: 1px solid;
  background-color: #0D28A6;
  border-radius: 13px;
}

.cta-banner-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: white;
}

.cta-banner-subtitle {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: white;
}
.h1_testimonial{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: black;
    margin-bottom: 16px;
}

.p_testimonial {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.cta-btn {
    background: #5CB85F;
    border-radius: 2px;
    color: white;
    margin-left: 500px;
}

.faq-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: black;
}
.container-fluid {
     padding: 0 136px;
}
.banner-content-text{
    padding: 0 136px;
}
.our-services{
    padding: 104px 136px;
}
.our-service{
   padding-top: 100px;
}
.our-service-subtitle {
    padding: 8px 0;
    font-weight:300px ;
}
.our-service-list li{
    padding: 10px;
}
.row{
    padding: 40px 0 100px 0;
}
.card-body{
    padding: 24px;
}
.cta-banner-box{
    margin: 0 auto;
}
.carousel-item active{
    text-align: center

}
.carousel-item {
    height: 270px;
    width: 619px;
    
}
.carousel-item img{
    width: 80px;
    height: 80px;
    text-align: center;
}
.img-area {
    width: 70px;
	height: 70px;
	margin-top: 30px;
}

.text-img p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px;
}
.text-img h3{
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.testimonial .img-area{
    float:left;
    padding-right: 30px;
}
.text-img .fa-star{
	color: #F9CC00;
}
.carousel-item .active{
    text-align: center;
}
.carousel-item .row{
    text-align: center;
}

.cta-banner-title{
    padding-top: 68px;
    font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	color: #fff;
}
.cta-banner-subtitle{
    margin-top: 20px;
    margin-left: 324px;
    margin-right: 324px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
    font-weight: 300;
}

.cta-banner-box .cta-btn{
    margin-top: 60px;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
}

/* Footer */
.footer{
    margin-top:10%;
    margin-bottom: 5%;
}

.alamat{
    font-size: 14px;
	line-height: 20px; 
}

.footer-nav a{
	font-size: 14px;
	line-height: 20px;
	color: black;
	text-decoration: none;
}

.social-media p{
    font-size: 14px;
	line-height: 20px; 
}

.social-media i{
    height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #0D28A6;
	color: white; 
    text-align: center;
}

.copyright{
    font-size: 14px;
	line-height: 20px;
}

.copyright .kosong{
	height: 34px;
	width: 100px;
	background-color: #0D28A6;
}
.social-media .fa-brands{
    padding-top: 12px;
    text-align: center;
}

.social-media .fa-regular{
    padding-top: 12px;
    text-align: center;
}

.section1{
    display: inline;
    padding-right: 150px;
}
.section2{
    display: inline;
}
.section3{
    width: 100px;
    height: 100px;
    border: 2px solid bisque;
    margin-left: 100px;
    text-align: center;
}
.box-model{
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 15px;
    border: 3px solid chocolate;
    position: sticky;
}

.box-model-title{
    text-align: center;
    padding-top: 65px;
    
}
.flexbox-container{
    display: flex;
    justify-content: space-evenly;
}

.asal{
    margin-bottom: 300px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .banner-content-text-title{
        font-size: 20px;
    }
    .container-fluid{
        padding: 0 12px;
    }
    .banner-content-text{
        padding: 0 12px;
    }
    .mobil{
        padding-top: 50px;
    }
    .our-services{
        padding: 0;
    }
    .our-service-list{
        padding-left: 0!important;
    }
    #why-us .mx-5 {
        margin-left: 0!important;
    }
    /* CTA Banner */
    .cta-banner-box{
        width: 375px;
        height: 326px;
        border: 1px solid;
        background-color: #0D28A6;
        border-radius: 13px;
    }
    .cta-banner-title{
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        padding-top: 32px;
    }
    .cta-banner-subtitle{
        margin-top: 20px;
        margin-left: 8px;
        margin-right: 8px;
	    font-size: 14px;
	    line-height: 20px;
	    color: #fff;
        font-weight: 300;
    }
}